@model School.Data.Entities.Enrollments

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Esta seguro de eliminar?</h3>
<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStudent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCourse)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEnrollment" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">volver</a>
    </form>
</div>
